<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Member</title>
  </head>
  <body>
    <a href="/dashboard">Home</a> |
    <a href="/addreview">Add Book and Review</a> |
    <a href="/logout">Logout</a>
    <br>
    <br>
    <h1>{{ member.firstname }}'s Profile</h1>

    <div class="profile">
      <p>Username: {{ member.firstname }}</p>
      <p>Name: {{ member.firstname }} {{ member.lastname }}</p>
      <p>Email: {{ member.email }}</p>
      <p>Total Reviews: {{ count }}</p>
    </div>

    <div class="pastreviews">
      <h2>Posted reviews on the following books:</h2>
      {% for review in reviews %}
        <p><a href="{% url "showbook" id=review.book.id %}">{{ review.book.title }}</a></p>
      {% endfor %}
    </div>
  </body>
</html>
